.titleBox{
    padding-left:20px;
    width: 120px;
    float:left;
    height: 60px;
    color: #fff;
    font-size: 25px;
}
.imgBox{
    padding-left:20px;
    float:left;
    // display: table;
    // vertical-align: middle;
}
.headerBox{
    float:right;
    margin-right:50px;
    .buttonSty{
        height:60px;
        background-color:#001529;
        border: none;
        width:50px;
        cursor: pointer;
    }
}