.contair{
    height:100%;
    width:100%;
    position: relative;
    .hese{
        background: #001529;
        height:64px;
    }
    .section{
        display: flex;
        justify-content: flex-start;
        min-height:100%;
        width:100%;
    }
    .LeftAsides{
        float:left;
        background: #001529;
    }
    .site-layout-background{
        margin-left: 256;
        padding:10px;
        width: 100%;
        height:100%;
        box-sizing: border-box;
    }
}
    